.dialog-box
{
    --animation-time: 0.5s;

    box-sizing: border-box;

    position: absolute;
    z-index: 999;

    background-color: #222222aa;
    color: rgb(182, 182, 182);

    border: 10px solid transparent;
    border-image: url(../../textures/dialog/chatborder.png) 30 round;

    padding: 50px;

    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 3vw;

    opacity: 1;

    transition: opacity var(--animation-time),
                top var(--animation-time),
                left var(--animation-time),
                right var(--animation-time),
                bottom var(--animation-time);
}

.dialog-box.bottom
{
    bottom: 0px;
    left: 0px;
}

.dialog-box.bottom.hidden
{
    bottom: -100vh;
}

.dialog-box.hidden
{
    opacity: 0.5;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}