#dialogBox
{
    --animation-time: 0.5s;

    box-sizing: border-box;

    position: absolute;
    z-index: 999;

    background-color: #222222aa;
    color: rgb(182, 182, 182);

    border: 10px solid transparent;
    border-image: url(../../textures/dialog/chatborder.png) 30 round;

    padding: 20px;

    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 3vw;

    transition: opacity var(--animation-time),
                top var(--animation-time),
                left var(--animation-time),
                right var(--animation-time),
                bottom var(--animation-time);
}

#dialogBox.bottom
{
    bottom: -100vh;
    left: 0px;
}

#dialogBox.bottom.shown
{
    bottom: 0;
}

#dialogButtons
{
    display: none;

    text-align: right;
}

#dialogButtons.shown
{
    display: block;
}

#dialogButtons .dialog-button:focus
{
    position: relative;
    bottom: 0;

    animation: dialogButtonFocus 1s infinite alternate-reverse;
}

@keyframes dialogButtonFocus
{
    to
    {
        bottom: -5px;
    }
}