.interface-container
{
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;

    color: white;
}

.debug
{
    color: yellow;
    font-family: monospace;
}

.debug p
{
    margin: 0;
}

.mouse-passthrough
{
    touch-action: none;
    
    user-select: none;
    -webkit-user-select: none;

    pointer-events: none;
}

.no-mouse-passthrough
{
    touch-action: auto !important;

    user-select: auto !important;
    -webkit-user-select: auto !important;

    pointer-events: all !important;
}