.rain
{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    opacity: 0.2;

    background-color: transparent;
    background: url("../textures/sprites/rain.gif");

    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

.rain.lightning
{
    animation: lightning 0.3s infinite;
}

@keyframes lightning
{
    16%
    {
        background-color: transparent;
        opacity: 0.2;
    }

    32%
    {
        background-color: rgba(255, 255, 255, 0.808);
        opacity: 1;
    }

    48%
    {
        background-color: transparent;
        opacity: 0.2;
    }

    64%
    {
        background-color: rgba(255, 255, 255, 0.445);
        opacity: 1;
    }

    80%
    {
        background-color: transparent;
        opacity: 0.2;
    }

    96%
    {
        background-color: transparent;
        opacity: 0.2;
    }
}
